<!DOCTYPE html>
<html lang="en" class="desktop portrait">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>

	<script src="/js/libs/jquery/jquery-3.2.1.min.js"></script>

	<link href="/styles/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/global.css" rel="stylesheet">
	<link href="/styles/category.css" rel="stylesheet">
	<link href="/styles/blockcategories.css" rel="stylesheet">
	<link href="/styles/blockpermanentlinks.css" rel="stylesheet">
	<link href="/styles/blockcurrencies.css" rel="stylesheet">
	<link href="/styles/blocklanguages.css" rel="stylesheet">
	<link href="/styles/blocksearch.css" rel="stylesheet">
	<link href="/styles/front.css" rel="stylesheet">
	<link href="/styles/blockcart.css" rel="stylesheet">
	<link href="/styles/hooks.css" rel="stylesheet">
	<link href="/styles/blocktags.css" rel="stylesheet">
	<link href="/styles/blocktags.css" rel="stylesheet">
	<link href="/styles/libs/jquery.bxslider/jquery.bxslider.css" rel="stylesheet">

</head>

<body id="index" class="index hide-right-column lang_en  two-columns">
	<div id="page">
		{{>header}}
		<div class="columns-container">
			<div id="columns" class="container">
				<div class="row">
					<div class="large-left col-sm-12">
						<div class="row">
							{{{body}}} {{>navs}}
						</div>
					</div>
				</div>

			</div>
		</div>
		{{>footer}}
	</div>
</body>

<script src="/js/libs/jquery.bxslider/jquery.bxslider.min.js"></script>
<script src="/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src='/js/libs/angular/angular.js'></script>
<script src='/js/libs/angular-sanitize/angular-sanitize.js'></script>
<script src='/js/libs/angular-route/angular-route.js'></script>
<script src='/js/libs/angular-aria/angular-aria.js'></script>
<script src='/js/libs/angular-animate/angular-animate.js'></script>
<script src='/js/libs/angular-resource/angular-resource.js'></script>

</html>
