<div class="container">
  <div class="jumbotron text-center">
    <h1>500</h1>
    <p class="lead">Sorry, Internam Server Error .</p>
    <a href="/" class="btn btn-default">Back to home</a>
  </div>
</div>
