<div id="center_column" class="center_column col-xs-12 col-sm-9">
	<div class="breadcrumb clearfix">
		<a class="home" href="/blogs" title="Return to Blogs">
			<i class="fa fa-home"></i>
		</a>
		<span class="navigation-pipe">&gt;</span> Blogs
	</div>
	<img ng-src="{{blog.image.url}}">
	<h1>{{blog.title}}</h1>
	<i class="fa fa-clock-o" aria-hidden="true"></i><span> {{blog.publishedDate|date:'H:mm dd/MM/yyyy'}}</span>
	<br>
	<br>
	<span ng-bind-html="blog.content.extended"></span>
	<hr>

	<section class="page-product-box">
		<h3 id="#idTab5" class="idTabHrefShort page-product-heading">Đánh giá ({{totalComments.length}})</h3>

		<div id="idTab5">
			<div id="product_comments_block_tab" ng-repeat="comment in comments">
				<div class="comment row">
					<div class="comment_author col-sm-2">
						<div class="comment_author_infos">
							<strong>{{comment.author.name.first}} {{comment.author.name.last}}</strong>
							<em>{{comment.publishedOn|date:'H:mm dd/MM/yyyy'}}</em>
						</div>
					</div>
					<!-- .comment_author -->
					<div class="comment_details col-sm-10">
						<p ng-bind-html="comment.content"></p>
						<ul>
						</ul>
					</div>
					<!-- .comment_details -->

				</div>
				<!-- .comment -->

			</div>
			<div class="top-pagination-content clearfix">

				<pagination total-products="totalComments" page-limit="5" ng-if="totalComments.length >0"
							on-update="updateComment(products)"></pagination>

			</div>

			<div ng-show="isLogin">
				<div id="new_comment_form">
					<form id="id_new_comment_form">
						<h2 class="page-subheading">
							Viết đánh giá
						</h2>
						<div class="row">
							<div class="new_comment_form_content col-xs-12 col-sm-12">
								<label for="content">
									Đánh giá: <sup class="required">*</sup>
								</label>
								<textarea id="content" name="content" ng-model="content"></textarea>

								<div id="new_comment_form_footer">
									<p class="fr">
										<button id="submitNewMessage" name="submitMessage"
												class="btn btn-default btn-sm" ng-click="onComment()">
											<span>Gửi</span>
										</button>
										&nbsp;
										or&nbsp;
										<a class="closefb" title="Cancel">
											Hủy
										</a>
									</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
