<div id="center_column" class="center_column col-xs-12 col-sm-9">
	<!-- Breadcrumb -->

	<div class="breadcrumb clearfix">
		<a class="home" href="/#" title="Return to Home">
			<i class="fa fa-home"></i>
		</a>
		<span class="navigation-pipe"></span>
		<span>{{category.name}}</span>
	</div>

	<!-- /Breadcrumb -->
	<div id="slider_row">
		<div id="top_column" class="center_column "></div>
	</div>

	<div class="content_scene_cat">
		<!-- Category image -->
		<div class="content_scene_cat_bg row">
			<div class="category-image hidden-xs col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<img class="img-responsive" ng-src="{{category.image.secure_url}}"/>
			</div>
			<div class="cat_desc  col-xs-12 col-sm-7 col-md-8 col-lg-9">
				<span class="category-name">
								{{category.name}}</span>

				<div id="category_description_short" class="rte">
					<p><span ng-bind-html="category.description|limitString:'short'"></span></p>
				</div>
				<div id="category_description_full" class="unvisible rte">
					<p><span ng-bind-html="category.description"></span></p>
				</div>
				<a class="lnk_more" title="More">Xem thêm</a>
			</div>
		</div>
	</div>
	<h1 class="page-heading product-listing">
		<span class="cat-name">{{category.name}}</span>
		<span class="heading-counter">Có {{products.length}} sản phẩm.</span>
	</h1>

	<div class="content_sortPagiBar clearfix">
		<div class="sortPagiBar clearfix">
			<ul class="display hidden-xs">
				<li class="display-title">Xem:</li>
				<li ng-class="{selected:viewGrid }" ng-click="changeView('grid')">
					<a rel="nofollow" title="Grid">
						<i class="fa fa-th-large"></i> Grid
					</a>
				</li>
				<li ng-class="{selected:!viewGrid }" ng-click="changeView('list')">
					<a rel="nofollow" title="List">
						<i class="fa fa-th-list"></i> List
					</a>
				</li>
			</ul>


			<form class="form-inline">
  				<div class="form-group" >
    				<label for="order">Sắp xếp:</label>
    				<select id="order" class=" form-control" ng-model="orderBy" ng-change="changeOrder()">
							<option value="position:asc" >Nổi bật</option>
							<option value="price:asc">Giá: Tăng gần</option>
							<option value="price:desc">Giá: Giảm dần</option>
							<option value="name:asc">Tên: A -> Z</option>
							<option value="name:desc">Tên: Z -> A</option>
						</select>
  				</div>
  				<div class="form-group" ng-if="totalProducts.length > 3">
    				<label for="page">Hiện thị:</label>
    				<select id="page" class="form-control" ng-model="pagination.pageLimit">
						<option value="3" selected="selected">3</option>
						<option value="6">6</option>
						<option value="12">12</option>
						<option value="30">30</option>
					</select>
					<label> &nbsp;mỗi trang</label>
  				</div>
			</form>

		</div>
		<div class="top-pagination-content clearfix">

			<pagination total-products="totalProducts" page-limit="pagination.pageLimit"
						on-update="updateProduct(products)" ng-if="totalProducts"></pagination>

		</div>
	</div>
	<!-- Products list -->
	<ul class="product_list grid row" list-product="products" show-add-cart-modal="showAddCart()"
		view-grid="viewGrid" show-quick-view-modal="showQuickView(product)"></ul>
	<div class="content_sortPagiBar">
		<div class="top-pagination-content clearfix">

			<pagination total-products="totalProducts" page-limit="pagination.pageLimit" ng-if="totalProducts"
						on-update="updateProduct(products)"></pagination>

		</div>
	</div>

</div>

<cart-modal visible="isShowModal" ng-order="order"></cart-modal>

<quick-view-modal visible="isQuickViewModal" ng-product="product" add-cart="addCard(order)"></quick-view-modal>
