<div id="columns" class="container">

	<div class="row">
		<div class="large-left col-sm-12">
			<div class="row">
				<div id="center_column" class="center_column col-xs-12 col-sm-12">
					<!-- Breadcrumb -->

					<div class="breadcrumb clearfix">
						<a class="home" href="/" title="Return to Home">
							<i class="fa fa-home"></i>
						</a>
						<span class="navigation-pipe">&gt;</span> Giỏ hàng của bạn
					</div>

					<!-- /Breadcrumb -->
					<div id="slider_row">
						<div id="top_column" class="center_column "></div>
					</div>


					<h1 id="cart_title" class="page-heading">Thông tin giỏ hàng
						<span class="heading-counter">Giỏ hàng của bạn chứa:
			<span id="summary_products_quantity">{{order.carts.length}} sản phẩm</span>
		</span>
					</h1>


					<!-- Steps -->
					<ul class="step clearfix" id="order_step">
						<li class="first" ng-class="{step_current:step==1, step_todo:step!=1}" ng-click="goStep(1)">
							<span><em>01.</em> Giỏ hàng</span>
						</li>
						<li class=" second" ng-class="{step_current:step==2, step_todo:step!=2}" ng-click="goStep(2)">
							<span><em>02.</em> Thông tin</span>
						</li>
						<li class=" last" id="step_end" ng-class="{step_current:step==3, step_todo:step!=3}">
							<span><em>03.</em> Thành công</span>
						</li>
					</ul>
					<!-- /Steps -->

					<p id="emptyCartWarning" class="alert alert-warning " ng-if="order.carts.length ==0">Giỏ hàng trống
					</p>


					<div id="order-detail-content" class="table_block table-responsive" ng-if="order.carts.length >0 && step ==1">
						<table id="cart_summary" class="table table-bordered stock-management-on">
							<thead>
								<tr>
									<th class="cart_product first_item">Sản phẩm</th>
									<th class="cart_description item">Mô tả</th>
									<th class="cart_avail item">Trạng thái</th>
									<th class="cart_unit item">Đơn giá</th>
									<th class="cart_quantity item">Số lượng</th>
									<th class="cart_total item">Tổng</th>
									<th class="cart_delete last_item">&nbsp;</th>
								</tr>
							</thead>
							<tfoot>


								<tr class="cart_total_price">
									<td rowspan="4" colspan="3" id="cart_voucher" class="cart_voucher">
									</td>
									<td colspan="3" class="text-right">Tổng sản phẩm:</td>
									<td colspan="2" class="price" id="total_product">
										{{order.totalProducts|currency:"":2}}đ
									</td>
								</tr>
								<tr style="display: none;">
									<td colspan="3" class="text-right">
										Tổng gift-wrapping cost
									</td>
									<td colspan="2" class="price-discount price" id="total_wrapping">
										đ0.00
									</td>
								</tr>
								<tr class="cart_total_delivery">
									<td colspan="3" class="text-right">Tổng giao hàng</td>
									<td colspan="2" class="text-right "><a class="link-more" ng-click="showShipDetail()">Xem chi tiết</a></td>
								</tr>
							
								<tr class="cart_total_price">
									<td colspan="3" class="total_price_container text-right">
										<span>Tổng</span>
									</td>
									<td colspan="2" class="price" id="total_price_container">
										<span id="total_price">{{order.totalProducts+ order.shipping|currency:"":2}}đ</span>
									</td>
								</tr>
							</tfoot>
							<tbody>


								<tr class="cart_item last_item first_item address_0 odd" ng-repeat="cart in order.carts">
									<td class="cart_product">
										<a href="/products/{{cart.product}}"><img ng-src="{{cart.imageUrl}}" width="100px" height="100px" alt="{{cart.name}}"></a>
									</td>
									<td class="cart_description" data-title="Description">
										<p class="product-name">
											<a href="/products/{{cart.product}}">{{cart.name}}</a>
										</p>
									</td>
									<td class="cart_avail"><span class="label label-success">Còn hàng</span></td>
									<td class="cart_unit" data-title="Unit price">
										<span class="price">
			            	               	 	<span class="price">{{cart.price|currency:"":2}}đ</span>
										</span>
									</td>

									<td class="cart_quantity" data-title="Qty">

										<input size="2" type="text" autocomplete="off" class="cart_quantity_input form-control grey" value="{{cart.quanlity}}">

										<div class="cart_quantity_button clearfix">
											<a rel="nofollow" class="cart_quantity_down btn btn-default button-minus" title="Subtract" ng-click="subtractQuanlity($index)">
												<span>
												<i class="fa fa-minus"></i>
											</span>
											</a>
											<a rel="nofollow" class="cart_quantity_up btn btn-default button-plus" title="Add" ng-click="addQuanlity($index)">
												<span>
												<i class="fa fa-plus"></i>
											</span>
											</a>
										</div>
									</td>
									<td class="cart_total" data-title="Total">
										<span class="price">				{{cart.quanlity * cart.price|currency:"":2}}đ</span>
									</td>
									<td class="cart_delete text-center">
										<div>
											<a rel="nofollow" title="Delete" class="cart_quantity_delete" ng-click="removeCart($index)"><i
												class="fa fa-trash-o"></i></a>
										</div>
									</td>
								</tr>


							</tbody>
						</table>
						<p class="cart_navigation clearfix">
							<a href="/" class="btn btn-default icon-left" title="Continue shopping">
								<span>Tiếp tục mua hàng </span>
							</a>
							<a class="btn btn-default standard-checkout btn-md icon-right" title="Proceed to checkout" ng-if="order.carts.length>0 && step== 1" ng-click="onStep()">
								<span>
								Tiến hành đặt hàng
							</span>
							</a>

						</p>
					</div>
					<!-- end order-detail-content -->

					<form class="std clearfix" name="formInfo" novalidate ng-if="step==2">
						<div class="box">
							<div id="opc_account_form" style="display: block; ">
								<h3 class="page-heading bottom-indent">Thông tin </h3>
								<!-- Account -->
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Họ <sup>*</sup></label>
											<input type="text" name="firstName" ng-model="info.firstName" class="form-control" required>
											<span class="help-block" ng-show="formInfo.firstName.$touched && formInfo.firstName.$invalid"> Họ và tên đệm là bắt buộc</span>


										</div>
									</div>
									<div class="col-sm-6">
										<div class="required form-group">
											<label for="lastName">Tên <sup>*</sup></label>
											<input type="text" class=" form-control" id="lastName" name="lastName" ng-model="info.lastName" required>
											<span class="help-block" ng-show="formInfo.lastName.$touched && formInfo.lastName.$invalid">Tên bắt buộc. </span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="required form-group">
											<label for="email">Email <sup>*</sup></label>
											<input type="email" class="form-control" id="email" name="email" ng-model="info.email" required>
											<span class="help-block" ng-show="formInfo.email.$touched && formInfo.email.$invalid">
												<span ng-show="formInfo.email.$error.required">Email bắt buộc.</span>
											<span ng-show="formInfo.email.$error.email">Sai định dạng email.</span>
											</span>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="required form-group">
											<label>SĐT<sup>*</sup></label>
											<input type="text" class="form-control" id="phone" name="phone" ng-model="info.phone" required ng-pattern="/[0-9]{9}$/">
											<span class="help-block" ng-show="formInfo.phone.$touched && formInfo.phone.$invalid">
												<span ng-show="formInfo.phone.$error.required">SĐT là bắt buộc.</span>
											<span ng-show="formInfo.phone.$error.pattern">Sai định dạng SĐT.</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="required form-group">
											<label for="address">Địa chỉ <sup>*</sup></label>
											<textarea rows="4" class="form-control" name="address" id="address" ng-model="info.address" required></textarea>
											<span class="help-block" ng-show="formInfo.address.$touched && formInfo.address.$invalid">Địa chỉ là bắt buộc. </span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<p class="cart_navigation clearfix">
							<a href="/" class="btn btn-default icon-left" title="Continue shopping">
								<span>Tiếp tục mua hàng </span>
							</a>

							<a class="btn btn-default standard-checkout btn-md icon-right" title="Proceed to checkout" ng-if="order.carts.length>0 && step == 2" ng-click="onStep()" ng-disabled="formInfo.firstName.$invalid || formInfo.lastName.$invalid ||formInfo.phone.$invalid || formInfo.email.$invalid ||formInfo.address.$invalid">
								<span>
								Tiến hành đặt hàng
							</span>
							</a>


						</p>
					</form>


					<form class="std clearfix" name="formInfo" novalidate ng-if="step==3">
						<div class="box" style="text-align: center">
							<h1>Thành công!</h1>
							<h3>Bạn phải trả  {{payment|currency:"":2}}đ (chưa tính tiền giao hàng)</h3>
							<!--<h3>You payment reference: ABDGDNS</h3>-->
							<br>
							<img src="https://livehealthfoundation.org/wp-content/uploads/2016/02/Checkmark.png" height="180" width="180">
							<hr>
							<a class="btn btn-default standard-checkout" href="/">Xong</a>

						</div>


					</form>




				</div>
				<!-- #center_column -->
			</div>
			<!--.large-left-->
		</div>
		<!--.row-->
	</div>
	<!-- .row -->
</div>

<modal title="Cách tính tiền chuyển hàng" visible="showModalShip">
	<div class="modal-body">
		<table class="table table-bordered stock-management-on">
			<thead>
				<tr>
					<th class="cart_product first_item">STT</th>
					<th class="cart_description item">Vị trí</th>
					<th class="cart_total item">Giá</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="shipping in shippings">
					<td>
						{{$index}}
					</td>
					<td>
						{{shipping.name}}
					</td>
					<td>
						{{shipping.price|currency:"":2}} đ
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</modal>
