<div id="center_column" class="center_column col-xs-12 col-sm-9">
	<!-- Breadcrumb -->

	<div class="breadcrumb clearfix">
		<a class="home" href="/" title="Return to Home">
			<i class="fa fa-home"></i>
		</a>
		<span class="navigation-pipe">&gt;</span> {{product.name}}
	</div>

	<!-- /Breadcrumb -->
	<div id="slider_row">
		<div id="top_column" class="center_column "></div>
	</div>
	<!--Replaced theme 1 -->

	<div>
		<div class="primary_block row two-columns">
			<!-- left infos-->
			<div class="pb-left-column col-xs-12 col-md-7 col-lg-6">
				<!-- product img-->
				<div id="image-block" class="clearfix is_caroucel">
					<span class="new-box no-print" ng-if="product.isnew">
						<span class="new-label">Mới</span>
					</span>
					<span class="sale-box no-print" ng-if="product.forSale">
						<span class="sale-label">Giảm giá!</span>
					</span>
					<span id="view_full_size">
						<a class="jqzoom" title="">
							<img ng-src="{{product.imageDefault}}">
						</a>
					</span>
				</div>
				<!-- end image-block -->
				<!-- thumbnails -->
				<div id="views_block" class="clearfix">
					<a id="view_scroll_left" title="Other views" ng-click="scrollUp()"
					   ng-if="product.imageDetails.length>2 && isScrollUp">
						Previous
					</a>

					<div id="thumbs_list">
						<ul id="thumbs_list_frame" style="height: 100%">
							<li>
								<a href="javascript:void(0);"
								   rel="{gallery: 'gal1', smallimage: '{{product.image.secure_url}}',largeimage: '{{product.image.secure_url}}'}"
								   ng-click="changeImage(product.image.secure_url)">
									<img class="img-responsive"
										 ng-src="{{product.image.secure_url}}" height="80"
										 width="80">
								</a>
							</li>

							<li>
								<a href="javascript:void(0);"
								   rel="{gallery: 'gal1', smallimage: '{{product.imagehover.secure_url}}',largeimage: '{{product.imagehover.secure_url}}'}"
								   ng-click="changeImage(product.imagehover.secure_url)">
									<img class="img-responsive"
										 ng-src="{{product.imagehover.secure_url}}" height="80"
										 width="80" itemprop="image">
								</a>
							</li>

							<li ng-repeat="image in product.imageDetails">
								<a href="javascript:void(0);" ng-click="changeImage(image.secure_url)"
								   rel="{gallery: 'gal1', smallimage: '{{image.secure_url}}',largeimage: '{{image.secure_url}}'}"
								>
									<img class="img-responsive"
										 ng-src="{{image.secure_url}}"
										 alt="{{product.name}}" title="{{product.name}}" height="80"
										 width="80">
								</a>
							</li>
							<li ng-repeat="image in product.imageDetails">
								<a href="javascript:void(0);" ng-click="changeImage(image.secure_url)"
								   rel="{gallery: 'gal1', smallimage: '{{image.secure_url}}',largeimage: '{{image.secure_url}}'}"
								>
									<img class="img-responsive"
										 ng-src="{{image.secure_url}}"
										 alt="{{product.name}}" title="{{product.name}}" height="80"
										 width="80">
								</a>
							</li>	
						</ul>
					</div>
					<a id="view_scroll_right" title="Other views" ng-click="scrollDown()"
					   ng-if="product.imageDetails.length>2 && isScrollDown">
						Tiếp
					</a>
				</div>
			</div>
			<!-- center infos -->
			<div class="pb-right-column col-xs-12 col-md-5 col-lg-6">
				<div class="product-info-line">
					<p class="online_only" ng-if="!product.inStock">Trạng thái: </p>
					<p id="availability_statut" ng-if="!product.inStock">
						<span id="availability_value" class="label label-danger">Hết hàng trong kho hàng</span>
					</p>
					<p id="product_condition">
						<label>Đặc điểm: </label>
						<span class="editable">Sản phẩm mới</span>
					</p>
					<!-- number of item in stock -->
					<p id="pQuantityAvailable">
						<span id="quantityAvailable">50</span>
						<span id="quantityAvailableTxtMultiple">Sản phẩm</span>
					</p>

				</div>

				<p class="warning_inline" id="last_quantities" style="display: none">Warning: Last items in stock!</p>

				<p id="availability_date" style="display: none;">
					<span id="availability_date_label">Availability date:</span>
					<span id="availability_date_value"></span>
				</p>
				<!-- Out of stock hook -->
				<div id="oosHook" style="display: none;">

				</div>
				<h1>{{product.name}}</h1>
				<!-- add to cart form-->
				<form id="buy_block" method="post">
					<!-- hidden datas -->


					<div class="box-info-product">
						<div class="content_prices clearfix">
							<!-- prices -->
							<p class="our_price_display">
								<span id="our_price_display">{{product.price|currency:"":0}}đ</span>
							</p>
							<!-- end prices -->


							<div class="clear"></div>
						</div>
						<!-- end content_prices -->
						<div class="product_attributes clearfix" ng-if="product.inStock">
							<div class="clearfix">
								<!-- quantity wanted -->
								<p id="quantity_wanted_p">
									<label>Số lượng</label>
									<input type="text" name="qty" class="text" ng-model="quanlity">
									<a class="btn btn-default button-minus product_quantity_down"
									   ng-click="subtractQuanlity()">
                                                <span>
                                                    <i class="fa fa-minus"></i>
                                                </span>
									</a>
									<a ng-click="addQuanlity()" class="btn btn-default button-plus product_quantity_up">
                                                <span>
                                                    <i class="fa fa-plus"></i>
                                                 </span>
									</a>
									<span class="clearfix"></span>
								</p>

								<div id="add_to_cart_product_page_button">
									<p id="add_to_cart" class="buttons_bottom_block no-print">
										<button class="btn btn-default ajax_add_to_cart_product_button"
												ng-click="addCart()">
											<span>Thêm vào giỏ hàng</span>
										</button>
									</p>
								</div>
							</div>
							
						</div>
					</div>
					<!-- end box-info-product -->
				</form>
				<div class="extra-right">
					<p class="socialsharing_product no-print">
						<button data-type="facebook" type="button" class="btn btn-facebook social-sharing">
							<i class="fa fa-facebook"></i>
						</button>
						<a data-type="google-plus" type="button"
						   class="btn btn-google-plus social-sharing" href="https://plus.google.com/share?url=http://namvietbien.herokuapp.com/products/{{product.slug}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
							<i class="fa fa-google-plus"></i>
						</a>
						
					</p>
					<div id="product_comments_block_extra" class="no-print">
						<div class="comments_note clearfix">
							<span>Rating&nbsp;</span>
							<star star="4"></star>
						</div>
						<!-- .comments_note -->
						<ul class="comments_advices">
							<li>
								<a data-target="#idTab5" class="reviews" title="Read reviews">
									Đọc đánh giá ({{totalComments.length}})
								</a>
							</li>
						</ul>
					</div>
					<!--  /Module ProductComments -->
				</div>

			</div>
			<!-- end center infos-->
		</div>
		<!-- end primary_block -->
		<div class="clearfix product-information">
			<ul class="product-info-tabs nav nav-stacked col-sm-3 col-md-3 col-lg-3">
				<li class="product-description-tab active"><a data-toggle="tab"
															  data-target="#product-description-tab-content">
					Thông tin</a></li>
				<li class="product-features-tab"><a data-toggle="tab" data-target="#product-features-tab-content">Dữ
					liệu</a></li>
				<li class="product-video-tab ">
					<a data-target="#product-video-tab-content" data-toggle="tab">Video</a>
				</li>

			</ul>
			<div class="tab-content col-sm-9 col-md-9 col-lg-9">
				<div id="product-description-tab-content" class="product-description-tab-content tab-pane active">
					<span ng-bind-html="product.description"></span>
				</div>
				<!-- quantity discount -->
				<!-- Data sheet -->
				<div id="product-features-tab-content" class="product-features-tab-content tab-pane">
					<table class="table-data-sheet">
						<tbody>
						<tr class="odd">

							<td>Height</td>
							<td>100</td>
						</tr>
						<tr class="even">

							<td>Width</td>
							<td>100</td>
						</tr>
						<tr class="odd">

							<td>Weight</td>
							<td>100</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!--end Data sheet -->
				<div id="product-video-tab-content" class="product-video-tab-content tab-pane ">
					<div class="videowrapper">
						<iframe type="text/html" ng-src="{{trustSrc(product.video)}}" frameborder="0"
								wmode="Opaque"></iframe>
					</div>
				</div>

			</div>
		</div>

		<!-- description & features -->

		<!--HOOK_PRODUCT_TAB -->
		<section class="page-product-box">
			<h3 id="#idTab5" class="idTabHrefShort page-product-heading">Đánh giá ({{totalComments.length}})</h3>

			<div id="idTab5">
				<div id="product_comments_block_tab" ng-repeat="comment in comments">
					<div class="comment row">
						<div class="comment_author col-sm-2">
							<span>Ranting&nbsp;</span>

							<star star="comment.star"></star>
							<div class="comment_author_infos">
								<strong>{{comment.author.name.first}} {{comment.author.name.last}}</strong>
								<em>{{comment.publishedOn|date:'H:mm dd/MM/yyyy'}}</em>
							</div>
						</div>
						<!-- .comment_author -->
						<div class="comment_details col-sm-10">
							<p ng-bind-html="comment.content"></p>
							<ul>
							</ul>
						</div>
						<!-- .comment_details -->

					</div>
					<!-- .comment -->

				</div>
				<span ng-if="totalComments.length == 0">Không có đánh giá.</span>
				<!-- #product_comments_block_tab -->
			</div>
			<div class="top-pagination-content clearfix">
				<pagination total-products="totalComments" page-limit="5" ng-if="totalComments.length >0"
							on-update="updateComment(products)"></pagination>
			</div>
			<div ng-show="isLogin">
				<div id="new_comment_form">
					<form id="id_new_comment_form">
						<h2 class="page-subheading">
							Viết đánh giá
						</h2>

						<div class="row">
							<div class="new_comment_form_content col-xs-12 col-sm-12">

								<ul id="criterions_list">
									<li>
										<label>Chất lượng:</label>
										<star-input star="star"></star-input>
										<div class="clearfix"></div>
									</li>
								</ul>
								<label for="content">
									Đánh giá: <sup class="required">*</sup>
								</label>
								<textarea id="content" name="content" ng-model="content"></textarea>

								<div id="new_comment_form_footer">
									<p class="fr">
										<button id="submitNewMessage" name="submitMessage"
												class="btn btn-default btn-sm" ng-click="onComment()">
											<span>Gửi</span>
										</button>
										&nbsp; or&nbsp;
										<a class="closefb" title="Cancel">
											Hủy
										</a>
									</p>
									<div class="clearfix"></div>
								</div>
								<!-- #new_comment_form_footer -->
							</div>
						</div>
					</form>
					<!-- /end new_comment_form_content -->
				</div>
			</div>
		</section>
		<!--end HOOK_PRODUCT_TAB -->

		<!--Accessories -->
		<section class="page-product-box">
			<h3 class="page-product-heading">Accessories</h3>
			<!-- Products list -->
			<ul class="product_list grid row" list-product="products" show-add-cart-modal="showAddCart()"
				view-grid="true" show-quick-view-modal="showQuickView(product)"></ul>
		</section>
		<!--end Accessories -->
		<!-- itemscope product wrapper -->
	</div>
</div>
<cart-modal visible="isShowModal" ng-order="order"></cart-modal>

<quick-view-modal visible="isQuickViewModal" ng-product="product" add-cart="addCardModal(order)"></quick-view-modal>
