<div id="center_column" class="center_column col-xs-12 col-sm-9">


	<div id="slider_row">
		<div id="top_column" class="center_column ">
			<!-- Module HomeSlider -->
			<ng-include src="'/views/partials/slide.html'"></ng-include>
			<!-- /Module HomeSlider -->
			<div id="htmlcontent_top">
				<ul class="htmlcontent-home clearfix row">
					<li class="htmlcontent-item-1 col-xs-4">
						<a class="item-link" title="">
							<div class="item-html">
								<h2>Giảm giá</h2>

								<h3>Giảm giá mặt hàng đến 20%</h3>
							</div>
						</a>
					</li>
					<li class="htmlcontent-item-2 col-xs-4">
						<a class="item-link" title="">
							<div class="item-html">
								<h2>Miễn phí vận chuyển</h2>

								<h3>cho đơn hàng lớn</h3>
							</div>
						</a>
					</li>
					<li class="htmlcontent-item-3 col-xs-4">
						<a class="item-link" title="">
							<div class="item-html">
								<h2>100%</h2>

								<h3>Sản phẩm tươi mới</h3>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<ul id="home-page-tabs" class="nav nav-tabs clearfix" style="cursor: pointer;">
		<li class="homefeatured active"><a data-toggle="tab" data-target="#homefeatured" class="homefeatured">Phổ
			biến</a></li>
		<li class="blocknewproducts"><a data-toggle="tab" data-target="#blocknewproducts"
										class="blocknewproducts">Mới</a></li>
		<li class="blockbestsellers"><a data-toggle="tab" data-target="#blockbestsellers" class="blockbestsellers">Bán
			chạy</a></li>
		<li class="blockspecials"><a data-toggle="tab" data-target="#blockspecials" class="blockspecials">Đặc biệt</a>
		</li>
	</ul>
	<div class="tab-content">
		<!-- Products list -->
		<ul id="homefeatured" class="product_list grid row homefeatured tab-pane active" list-product="products"
			show-add-cart-modal="showAddCart()" view-grid="true" show-quick-view-modal="showQuickView(product)">
		</ul>
		<!-- Products list -->
		<ul id="blocknewproducts" class="product_list grid row blocknewproducts tab-pane" list-product="newProducts"
			show-add-cart-modal="showAddCart()" view-grid="true" show-quick-view-modal="showQuickView(product)">
		</ul>
		<!-- Products list -->
		<ul id="blockbestsellers" class="product_list grid row blockbestsellers tab-pane" list-product="bestSellers"
			show-add-cart-modal="showAddCart()" view-grid="true" show-quick-view-modal="showQuickView(product)">
		</ul>
		<ul id="blockspecials" class="product_list grid row blockspecials tab-pane" list-product="specials"
			show-add-cart-modal="showAddCart()" view-grid="true" show-quick-view-modal="showQuickView(product)">
		</ul>
	</div>
</div>


<cart-modal visible="isShowModal" ng-order="order"></cart-modal>

<quick-view-modal visible="isQuickViewModal" ng-product="product" add-cart="addCard(order)"></quick-view-modal>
