<div id="center_column" class="center_column col-xs-12 col-sm-9">
	<!-- Breadcrumb -->

	<div class="breadcrumb clearfix">
		<a class="home" href="/" title="Return to Home">
			<i class="fa fa-home"></i>
		</a>
		<span class="navigation-pipe">&gt;</span> Tìm
	</div>

	<!-- /Breadcrumb -->
	<div id="slider_row">
		<div id="top_column" class="center_column "></div>
	</div>


	<h1 class="page-heading  product-listing">
        Tìm&nbsp;
		<span class="lighter">
            "{{q}}"
        </span>
		<span class="heading-counter">
            {{totalProducts.length}} kết quả tìm kiếm        </span>
    </h1>

	<div class="content_sortPagiBar clearfix">
		<div class="sortPagiBar clearfix">
			<ul class="display hidden-xs">
				<li class="display-title">Hiện thị:</li>
				<li id="grid" ng-class="{selected:viewGrid}" ng-click="changeView('grid')">
					<a rel="nofollow" title="Grid">
						<i class="fa fa-th-large"></i> Grid
					</a>
				</li>
				<li id="list" ng-class="{selected:!viewGrid}">
					<a rel="nofollow" title="List" ng-click="changeView('list')">
						<i class="fa fa-th-list"></i> List
					</a>
				</li>
			</ul>
			<form class="form-inline">
				<!-- <div class="form-group" ng-hide="!totalProducts || totalProducts.length==0">
                    <label>Sắp xếp:</label>
                    <select name="orderBy" class="form-control" ng-model="orderBy" ng-change="changeOrder()">
                        <option value="position:asc" >Nổi bật</option> -->
				<div class="form-group">
					<label for="order">Sắp xếp:</label>
					<select id="order" class=" form-control" ng-model="orderBy" ng-change="changeOrder()">
              							<option value="position:asc" >Nổi bật</option>
              							<option value="price:asc">Giá: Tăng gần</option>
              							<option value="price:desc">Giá: Giảm dần</option>
              							<option value="name:asc">Tên: A -> Z</option>
              							<option value="name:desc">Tên: Z -> A</option>
              						</select>
				</div>
				<div class="form-group" ng-if="totalProducts.length >3">
					<label for="page">Hiện thị:</label>
					<select id="page" class="form-control" ng-model="pagination.pageLimit">
                        <option value="3" selected="selected">3</option>
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="30">30</option>
                    </select>
					<label> mỗi trang</label>
				</div>
			</form>


		</div>
		<div class="top-pagination-content clearfix">

			<pagination total-products="totalProducts" page-limit="pagination.pageLimit" ng-if="totalProducts" on-update="updateProduct(products)"></pagination>

		</div>
	</div>

	<ul class="product_list grid row" list-product="products" show-add-cart-modal="showAddCart(cart)" view-grid="viewGrid" show-quick-view-modal="showQuickView(product)"></ul>
	<div class="content_sortPagiBar">
		<div class="bottom-pagination-content clearfix">
			<!-- Pagination -->
			<div id="pagination_bottom" class="pagination clearfix">

			</div>

		</div>
	</div>
</div>

<cart-modal visible="isShowModal" ng-order="order"></cart-modal>
<quick-view-modal visible="isQuickViewModal" ng-product="product" add-cart="addCardModal(order)"></quick-view-modal>
