<div class="" ng-controller="BlockCartCtrl">
	<div class="shopping_cart" ng-click="showBlockCart()">
		<a title="View my shopping cart" rel="nofollow">
			<b>Giỏ hàng</b>
			<span class="ajax_cart_quantity " ng-if="order.carts.length >0 ">{{order.carts.length}}</span>
			<span class="ajax_cart_product_txt_s " ng-if="order.carts.length >0 ">Sản phẩm</span>
			<span class="ajax_cart_no_product" ng-if="order.carts.length ==0 ">(trống)</span>
		</a>

		<div class="cart_block block" ng-hide="isHide" style="display: block">
			<div class="block_content">
				<!-- block list of products -->
				<div class="cart_block_list">
					<dl class="products" ng-repeat="cart in order.carts" ng-if="order.carts.length>0">
						<dt data-id="cart_block_product_6_0_0" class="first_item">
							<a class="cart-images" href="/products/{{cart.product}}" title="{{cart.name}}">
								<img ng-src="{{cart.imageUrl}}" alt="{{cart.name}}" height="80px" width="80px"></a>
						<div class="cart-info">
							<div class="product-name">
									<span class="quantity-formated">
										<span class="quantity">{{cart.quanlity}}</span>&nbsp;x&nbsp;
									</span>
								<a class="cart_block_product_name" href="/products/{{cart.slug}}"
								   title="{{cart.name}}">{{cart.name}}</a>
							</div>
							<span class="price">{{cart.price}}đ</span>
						</div>
						<span class="remove_link" ng-click="removeCart($index); $event.preventDefault(); $event.stopPropagation();">
								<a class="ajax_cart_block_remove_link" title="remove this product from my cart" >&nbsp;</a>
							</span>
						</dt>
						<!-- Customizable datas -->
					</dl>
					<p class="cart_block_no_products " ng-if="order.carts.length ==0">
						Không có sản phẩm
					</p>

					<div class="cart-prices" ng-if="order.carts.length >0">
						
						<div class="cart-prices-line last-line">
							<span class="price cart_block_total ajax_block_cart_total"> {{order.totalProducts+order.shipping|currency:"":2}}đ</span>
							<span>Tổng</span>
						</div>
					</div>
					<p class="cart-buttons">
						<a id="button_order_cart" class="btn btn-default btn-md icon-right standard-checkout" href="/checkout"
						   title="Check out" rel="nofollow">
							<span>
								Thanh toán
							</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
