
<div class="footer-container">
	<footer id="footer" class="container">
		<div class="row">    <!-- MODULE Block footer -->
			<div class="bottom-footer col-xs-12">
				<div>
					© <span class="current-year">2017</span> <a class="_blank" title="prestashop"
																href="https://immense-oasis-19461.herokuapp.com/"
																target="_blank">Develope software by PhuQuy™</a>
				</div>
			</div>
			<section class="footer-block col-xs-12 col-sm-4">
				<h4>
					<a title="Manage my customer account" rel="nofollow">Liên hệ</a>
				</h4>

				<div class="block_content toggle-footer" style="">
					<ul class="bullet">
						<li class="item">
							<h5><i class="fa fa-map-marker" aria-hidden="true"></i> <strong> Tôn đức thắng,
								TPHCM</strong></h5>
						</li>
						<li class="item">
							<h5><i class="fa fa-phone" aria-hidden="true"></i> <strong>01669599700</strong></h5>
						</li>
						<li class="item">
							<a><i class="fa fa-envelope" aria-hidden="true"></i> <strong>cskcscks@gmail.com</strong>
							</a>
						</li>


					</ul>
				</div>
			</section>
			<section id="social_block" class="footer-block col-xs-12 col-sm-2">
				<h4>Theo dõi</h4>
				<ul class="toggle-footer" style="">
					<li class="facebook">
						<a target="_blank" href="https://www.facebook.com/prestashop" title="Facebook">
							<span>- Facebook</span>
						</a>
					</li>
					<li class="twitter">
						<a target="_blank" href="https://www.twitter.com/prestashop" title="Twitter">
							<span>- Twitter</span>
						</a>
					</li>
					<li class="rss">
						<a target="_blank" href="https://www.prestashop.com/blog/en/" title="RSS">
							<span>- RSS</span>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</footer>
</div>

