<div class="header-container" ng-controller="HeaderCtrl">
	<header id="header">
		<div class="nav">
			<div class="container">
				<div class="row">
					<nav>
						<div id="header_logo">
							<a href="/" title="Supermarket">
								<img class="logo img-responsive" src="/images/logomain.jpg" alt="Supermarket"
									 width="406" height="81">
							</a>
						</div>
						<div id="header-login">
							<div class="current header_user_info"><a href="#" onclick="return false;"></a></div>
							<ul id="header-login-content" class="toogle_content">
								<li>
									<ng-include src="'views/partials/login-form.html'"></ng-include>
								</li>
							</ul>
						</div>

						<ul id="header_links">

							<li><a href="/" ng-class="{'active':isActiveLink(home)}" class="header_links_home">Trang chủ</a>
							</li>
							<li >
								<a href="/blogs" ng-class="{'active':isActiveLink(blog)}" title="blogs">Tin tức</a>
							</li>

							<li >
								<a href="/contact" ng-class="{'active':isActiveLink(contact)}"
								   title="contact">Liên hệ</a>
							</li>

						</ul>
						<!-- /Block permanent links module HEADER -->
					</nav>
				</div>
			</div>
		</div>
		<div class="row-top">
			<div class="container">
				<div>
					<div class="row">
						<ng-include src="'/views/partials/block-cart.html'"></ng-include>
						<!-- #layer_cart -->
						<!-- /MODULE Block cart -->
						<!-- Block search module TOP -->
						<div id="search_block_top">
							<form id="searchbox" method="get">
								<input class="search_query form-control ac_input" type="text" id="search_query_top"
									   name="search_query" placeholder="Tìm sản phẩm" value="" autocomplete="off"
									   ng-model="search">
								<button type="submit" name="submit_search" class="btn btn-default button-search"
										ng-click="onSearch()">
									<span>Tìm</span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
